{{#each model.members as |member index|}}
  <div>
    <div>
      <b>Name:</b> {{#link-to "members" member}}{{member.firstName}} {{member.lastName}}{{/link-to}}
    </div>
    <div>
      <b>Company:</b> {{member.company.name}}
    </div>
  </div>
{{/each}}
