{{#each model.members as |member index|}}
  <div>
    <div>
      <b>Name:</b> {{member.firstName}} {{member.lastName}}
    </div>
    <div>
      <b>Company:</b> {{member.company.name}}
    </div>
  </div>
{{/each}}
